.RegisterForm {
    max-width: 100%;
    background-color: #003580;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 8%;
    text-align: center;
    align-items: center;
    color: white;
}

.RegisterForm_content {
    padding-top: 5%;
    padding-bottom: 4%;
}

.RegisterForm input {
    font-size: 1rem;
}

.RegisterForm_content h1 {
    margin-bottom: 3%;
}

.RegisterForm_content div {
    margin-bottom: 1.5%;
}

.RegisterForm_content input {
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.RegisterForm button {
    width: fit-content;
    font-size: 1.65rem;
    /* padding-left: 0.75%;
    padding-right: 0.75%;
    padding-top: 0.3rem;
    padding-bottom: 0.rem; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border: none;
    border-radius: 0.3rem;
    background-color: #0071c2;
    color: white
}